.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_identificacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono2_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono3_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_correo_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_direccion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_genero_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_genero_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_fecha_nacimineto_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_nacimineto_paciente_grid_line {vertical-align: top;text-align: left;}
.css_bp_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bp_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_usuario_creacion_grid_line {vertical-align: top;text-align: left;}
.css_bt_id_tratamiento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bt_id_tratamiento_grid_line {vertical-align: top;text-align: right;}
.css_bt_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_bt_clasificacion_patologica_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_clasificacion_patologica_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_tratamiento_previo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_tratamiento_previo_grid_line {vertical-align: top;text-align: left;}
.css_bt_consentimiento_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_consentimiento_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_fecha_inicio_terapia_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_inicio_terapia_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_regimen_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_regimen_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_fecha_ultima_reclamacion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_fecha_ultima_reclamacion_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_otros_operadores_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_otros_operadores_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_medios_adquisicion_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medios_adquisicion_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_ips_atiende_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_ips_atiende_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_medico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_medico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_especialidad_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_especialidad_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_ciudad_base_paramedico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_ciudad_base_paramedico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_notas_adjuntos_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bt_notas_adjuntos_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_bt_id_paciente_fk_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bt_id_paciente_fk_grid_line {vertical-align: top;text-align: right;}
