.css_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_id_paciente_det_line {height:0px;text-align: left;}
.css_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_estado_paciente_det_line {height:0px;text-align: left;}
.css_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_observacion_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_observacion_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_nombre_paciente_det_line {height:0px;text-align: left;}
.css_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_apellido_paciente_det_line {height:0px;text-align: left;}
.css_telefono_paciente_det_label {text-align: left;vertical-align: middle;}
.css_telefono_paciente_det_line {height:0px;text-align: left;}
.css_telefono2_paciente_det_label {text-align: left;vertical-align: middle;}
.css_telefono2_paciente_det_line {height:0px;text-align: left;}
.css_telefono3_paciente_det_label {text-align: left;vertical-align: middle;}
.css_telefono3_paciente_det_line {height:0px;text-align: left;}
.css_correo_paciente_det_label {text-align: left;vertical-align: middle;}
.css_correo_paciente_det_line {height:0px;text-align: left;}
.css_direccion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_direccion_paciente_det_line {height:0px;text-align: left;}
.css_barrio_paciente_det_label {text-align: left;vertical-align: middle;}
.css_barrio_paciente_det_line {height:0px;text-align: left;}
.css_departamento_paciente_det_label {text-align: left;vertical-align: middle;}
.css_departamento_paciente_det_line {height:0px;text-align: left;}
.css_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_genero_paciente_det_label {text-align: left;vertical-align: middle;}
.css_genero_paciente_det_line {height:0px;text-align: left;}
.css_fecha_nacimineto_paciente_det_label {text-align: left;vertical-align: middle;}
.css_fecha_nacimineto_paciente_det_line {height:0px;text-align: left;}
.css_edad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_edad_paciente_det_line {height:0px;text-align: left;}
.css_acudiente_paciente_det_label {text-align: left;vertical-align: middle;}
.css_acudiente_paciente_det_line {height:0px;text-align: left;}
.css_telefono_acudiente_paciente_det_label {text-align: left;vertical-align: middle;}
.css_telefono_acudiente_paciente_det_line {height:0px;text-align: left;}
.css_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_usuario_creacion_det_label {text-align: left;vertical-align: middle;}
.css_usuario_creacion_det_line {height:0px;text-align: left;}
