.css_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_observacion_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observacion_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: left;}
.css_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_identificacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_paciente_grid_line {vertical-align: top;text-align: left;}
.css_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_apellido_paciente_grid_line {vertical-align: top;text-align: left;}
.css_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono_paciente_grid_line {vertical-align: top;text-align: left;}
.css_telefono2_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono2_paciente_grid_line {vertical-align: top;text-align: left;}
.css_telefono3_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono3_paciente_grid_line {vertical-align: top;text-align: left;}
.css_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_correo_paciente_grid_line {vertical-align: top;text-align: left;}
.css_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_direccion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_barrio_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_barrio_paciente_grid_line {vertical-align: top;text-align: left;}
.css_departamento_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_departamento_paciente_grid_line {vertical-align: top;text-align: left;}
.css_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ciudad_paciente_grid_line {vertical-align: top;text-align: left;}
.css_genero_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_genero_paciente_grid_line {vertical-align: top;text-align: left;}
.css_fecha_nacimineto_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_nacimineto_paciente_grid_line {vertical-align: top;text-align: left;}
.css_edad_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_edad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_acudiente_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_acudiente_paciente_grid_line {vertical-align: top;text-align: left;}
.css_telefono_acudiente_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_telefono_acudiente_paciente_grid_line {vertical-align: top;text-align: left;}
.css_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usuario_creacion_grid_line {vertical-align: top;text-align: left;}
