.css_bcp_id_clasificacion_patologica_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bcp_id_clasificacion_patologica_grid_line {vertical-align: top;text-align: right;}
.css_bcp_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bcp_nombre_referencia_grid_line {vertical-align: top;text-align: right;}
.css_bcp_nombre_clasificacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bcp_nombre_clasificacion_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_estado_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_motivo_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_motivo_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_fecha_retiro_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_fecha_retiro_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_identificacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_identificacion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_nombre_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_nombre_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_apellido_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_apellido_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_telefono_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_telefono_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_correo_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_correo_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_direccion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_direccion_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_barrio_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_barrio_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_departamento_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_departamento_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_ciudad_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_ciudad_paciente_grid_line {vertical-align: top;text-align: right;}
.css_bp_id_ultima_gestion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_bp_id_ultima_gestion_grid_line {vertical-align: top;text-align: right;}
.css_bp_usuario_creacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bp_usuario_creacion_grid_line {vertical-align: top;text-align: right;}
