.css_bcp_id_clasificacion_patologica_det_label {text-align: left;vertical-align: middle;}
.css_bcp_id_clasificacion_patologica_det_line {height:0px;text-align: left;}
.css_bcp_nombre_referencia_det_label {text-align: left;vertical-align: middle;}
.css_bcp_nombre_referencia_det_line {height:0px;text-align: left;}
.css_bcp_nombre_clasificacion_det_label {text-align: left;vertical-align: middle;}
.css_bcp_nombre_clasificacion_det_line {height:0px;text-align: left;}
.css_bp_id_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_paciente_det_line {height:0px;text-align: left;}
.css_bp_estado_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_estado_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_activacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_activacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_fecha_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_fecha_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_motivo_retiro_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_motivo_retiro_paciente_det_line {height:0px;text-align: left;}
.css_bp_identificacion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_identificacion_paciente_det_line {height:0px;text-align: left;}
.css_bp_nombre_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_nombre_paciente_det_line {height:0px;text-align: left;}
.css_bp_apellido_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_apellido_paciente_det_line {height:0px;text-align: left;}
.css_bp_telefono_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_telefono_paciente_det_line {height:0px;text-align: left;}
.css_bp_correo_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_correo_paciente_det_line {height:0px;text-align: left;}
.css_bp_direccion_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_direccion_paciente_det_line {height:0px;text-align: left;}
.css_bp_departamento_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_departamento_paciente_det_line {height:0px;text-align: left;}
.css_bp_ciudad_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_ciudad_paciente_det_line {height:0px;text-align: left;}
.css_bp_id_ultima_gestion_det_label {text-align: left;vertical-align: middle;}
.css_bp_id_ultima_gestion_det_line {height:0px;text-align: left;}
.css_bp_usuario_creacion_det_label {text-align: left;vertical-align: middle;}
.css_bp_usuario_creacion_det_line {height:0px;text-align: left;}
.css_bp_barrio_paciente_det_label {text-align: left;vertical-align: middle;}
.css_bp_barrio_paciente_det_line {height:0px;text-align: left;}
