.css_id_paciente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_paciente_grid_line {vertical-align: top;text-align: right;}
.css_logro_comunicacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_logro_comunicacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_fecha_comunicacion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_comunicacion_grid_line {vertical-align: top;text-align: left;}
.css_autor_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_autor_gestion_grid_line {vertical-align: top;text-align: left;}
.css_estado_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_estado_paciente_grid_line {vertical-align: top;text-align: left;}
.css_fecha_activacion_paciente_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_activacion_paciente_grid_line {vertical-align: top;text-align: left;}
.css_producto_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_producto_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_nombre_referencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_referencia_grid_line {vertical-align: top;text-align: left;}
.css_asegurador_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_asegurador_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_operador_logistico_tratamiento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_operador_logistico_tratamiento_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion_gestion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion_gestion_grid_line {vertical-align: top;text-align: left;}
.css_id_historial_reclamacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_historial_reclamacion_grid_line {vertical-align: top;text-align: right;}
.css_anio_historial_reclamacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_anio_historial_reclamacion_grid_line {vertical-align: top;text-align: right;}
.css_mes1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes1_grid_line {vertical-align: top;text-align: left;}
.css_reclamo1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo1_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion1_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion1_grid_line {vertical-align: top;text-align: left;}
.css_mes2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes2_grid_line {vertical-align: top;text-align: left;}
.css_reclamo2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo2_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion2_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion2_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion2_grid_line {vertical-align: top;text-align: left;}
.css_mes3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes3_grid_line {vertical-align: top;text-align: left;}
.css_reclamo3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo3_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion3_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion3_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion3_grid_line {vertical-align: top;text-align: left;}
.css_mes4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes4_grid_line {vertical-align: top;text-align: left;}
.css_reclamo4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo4_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion4_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion4_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion4_grid_line {vertical-align: top;text-align: left;}
.css_mes5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes5_grid_line {vertical-align: top;text-align: left;}
.css_reclamo5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo5_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion5_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion5_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion5_grid_line {vertical-align: top;text-align: left;}
.css_mes6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes6_grid_line {vertical-align: top;text-align: left;}
.css_reclamo6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo6_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion6_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion6_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion6_grid_line {vertical-align: top;text-align: left;}
.css_mes7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes7_grid_line {vertical-align: top;text-align: left;}
.css_reclamo7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo7_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion7_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion7_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion7_grid_line {vertical-align: top;text-align: left;}
.css_mes8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes8_grid_line {vertical-align: top;text-align: left;}
.css_reclamo8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo8_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion8_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion8_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion8_grid_line {vertical-align: top;text-align: left;}
.css_mes9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes9_grid_line {vertical-align: top;text-align: left;}
.css_reclamo9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo9_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion9_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion9_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion9_grid_line {vertical-align: top;text-align: left;}
.css_mes10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes10_grid_line {vertical-align: top;text-align: left;}
.css_reclamo10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo10_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion10_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion10_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion10_grid_line {vertical-align: top;text-align: left;}
.css_mes11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes11_grid_line {vertical-align: top;text-align: left;}
.css_reclamo11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo11_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion11_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion11_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion11_grid_line {vertical-align: top;text-align: left;}
.css_mes12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_mes12_grid_line {vertical-align: top;text-align: left;}
.css_reclamo12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_reclamo12_grid_line {vertical-align: top;text-align: left;}
.css_fecha_reclamacion12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_reclamacion12_grid_line {vertical-align: top;text-align: left;}
.css_motivo_no_reclamacion12_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_motivo_no_reclamacion12_grid_line {vertical-align: top;text-align: left;}
