@charset "utf-8";
/* CSS Document */
/*@import url("GothamRnd_book/stylesheet.css");*/
table tr:nth-child(odd) 
{
	font-size: 90%;
	text-transform:uppercase;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #9fc7d2;
}

table tr:nth-child(even) 
{ 
	font-size: 90%;
	text-transform:uppercase;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 8px;     
	background: #faf6f3; 
}
.titulo 
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 90%;
	color: #006699;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #C8C8C8;
}
.botones 
{
	background-color:#A0C054;		
	text-align:center;
	text-transform:uppercase;
	font:Tahoma, Geneva, sans-serif;
	font-size: 100%;
	color: #000;
	font-weight: bold;
	font-variant: normal;
}
.Estilo1 {
	font-size: 90%;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	border-top-left-radius: 0px ;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 00px;	
}
.Estilo11 {
	font-size: 100%;
	text-transform:uppercase;
	color: #FFF	;
}
th
{
	padding:7px;
	width:auto;	
}
td
{
	width:auto;
	padding:5px;
}
a
{
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	font-weight:bold; 
	font-size:110%; 
}
.btn_actualizar
{
 /* background-image:url(../image/ACTUALIZAR.png);	*/
  background-repeat:no-repeat;
  width:155px;
  height:45px;	
  color:transparent;
  background-color:transparent;
 /* border:#fff 3px solid;*/
  border-radius:5px;
  float:center;
  margin-top:3%;	  	  
}
.btn_actualizar:active
{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3),
	inset 0px 0px 20px #EEECEC;
}
.btn_actualizar:hover
{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3),
	inset 0px 0px 20px #EEECEC;
}	
.error
{
	font-size: 130%;
	font-weight: bold;
	color: #fb8305;
	text-transform:uppercase;
	background-color:transparent;
	text-align: center;
	padding:10px;
}
.letra
{
	font-family: Tahoma, Geneva, sans-serif;
}